<config>
    <modules>
        <Reinos_AdaptiveResize>
            <version>1.0.0</version>
        </Reinos_AdaptiveResize>
    </modules>
    <frontend>
        <routers>
            <adaptiveresize>
                <use>standard</use>
                <args>
                    <module>Reinos_Adaptiveresize</module>
                    <frontName>adaptiveresize</frontName>
                </args>
            </adaptiveresize>
        </routers>
        <layout>
            <updates>
                <adaptiveresize>
                    <file>adaptiveresize.xml</file>
                </adaptiveresize>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <catalog>
                <rewrite>
                    <image>Reinos_AdaptiveResize_Helper_Image</image>
                </rewrite>
            </catalog>
        </helpers>
        <models>
            <catalog>
                <rewrite>
                    <product_image>Reinos_AdaptiveResize_Model_Product_Image</product_image>
                </rewrite>
            </catalog>
        </models>

        <cache>
            <types>
                <adaptiveresize translate="label,description" module="reinos_adaptiveresize">
                    <label>Category Reinos Cache</label>
                    <description>Deletes all cached images created by Reinos extension.</description>
                    <tags>ADAPTIVERESIZE</tags>
                </adaptiveresize>
            </types>
        </cache>
        <models>
            <adaptiveresize>
                <class>Reinos_Adaptiveresize_Model</class>
            </adaptiveresize>
        </models>
        <helpers>
            <adaptiveresize>
                <class>Reinos_Adaptiveresize_Helper</class>
            </adaptiveresize>
        </helpers>
        <blocks>
            <adaptiveresize>
                <class>Reinos_Adaptiveresize_Block</class>
            </adaptiveresize>
        </blocks>
    </global>
    <adminhtml>
        <events>
            <adminhtml_cache_refresh_type>
                <observers>
                    <adaptiveresize_clean_cache>
                        <class>adaptiveresize/observer</class>
                        <method>cleanCache</method>
                    </adaptiveresize_clean_cache>
                </observers>
            </adminhtml_cache_refresh_type>
        </events>
    </adminhtml>
</config>
